<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Online Scripts{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon3.ico') }}" >
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
