<div id="beer-list" class="swiper-container-beers swiper-container-horizontal">
    <div class="swiper-wrapper">
                {% for beer in beers %}
                {% if beer.beer != null %}
                    <li class="swiper-slide">
                                    <div class="media">
                                        <a href="{{ path('beer', {'name' : beer.beer.name}) }}">
                                        {% if beer.beer.picture %}
                                            {% thumbnail beer.beer.picture, 'small'%}
                                        {% else %}
                                            <div class="imageSmall media">
                                                <img class="imageSmall img-rounded img-responsive"
                                                     src="{{ asset('bundles/app/img/default.png') }}">
                                            </div>
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="beer-details">
                                        <h3 class="media-heading heading">
                                            {{ beer.beer.name }}
                                        </h3>
                                        <label>Price : {{ beer.price }} din</label>
                                        {% include 'AppBundle:Partial:ratingstars.html.twig' %}
                                    </div>
                        </li>{% endif %}
                    {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="col-md-3 col-xs-8 col-centered">
    <a class="btn-search" href="{{ path('search', {'searchItem' : 'beers'}) }}">See All</a>
</div>