<a href="{{ path('search', {'searchItem' : 'pubs'}) }}">Search All</a>
<div class="swiper-container-pubs swiper-container-horizontal">
    <div class="swiper-wrapper">
    {% for pubs in pubslist %}
    {% for pub in pubs %}
    {% if pub.pub != null %}
        <div class="swiper-slide">
                    <div class="tile b{{ loop.index%5 }} scrollpoint sp-effect6">
                        <div class="media">
                            <a  href="{{ path('pub', {'name' : pub.pub.name}) }}">
                                {% if pub.pub.picture %}
                                {% thumbnail pub.pub.picture, 'small' with{'class' : 'img-square img-rounded img-responsive'} %}
                                {% else %}
                                <div class="imageSmall media">
                                    <img class="imageSmall img-rounded img-responsive" src="{{ asset('bundles/app/img/default.png') }}">
                                </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="details">
                            <h3 class="media-heading heading" >
                                 {{ pub.pub.name }}
                            </h3>
                            {% if pub.price != 0 %}
                            <h4>Cena: {{ pub.price }}</h4>
                            {% endif %}
                            <p>{{ pub.pub.address.streetName}}{{  pub.pub.address.streetNumber}}</p>
                            {% include 'AppBundle:Partial:ratingstars.html.twig' %}
                        </div>
                    </div>
        </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
